.header-container {
    background-color: #0B010B;
    display: flex;
    align-items: center;
    /* Vertically center the items in the container */
    justify-content: start;
    /* Distribute space between and around content items */
    padding: 2px;
    /* Optional: Adds some padding inside the container */
}

.score-text {
    width: 20px;
    font-size: 12px;
    margin-right: 30px;
    color: white;
    padding-left: 10px;
}

.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 180px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    font-size: 11px;
    color: gray;
}

.healthbartext {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
}

.bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;

    transition: width 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

